---
layout: default
---
<header class="hero">
	<div class="wrapper wrapperr--fullwidth">
		<div class="hero__text">
			<h1>Velkommen til Pengeskapsfabrikken, et nytt boligkvartal på Carl Berner!</h1>
			<a href="#melddin" class="btn">Meld din interesse!</a>
		</div>
	</div>
</header>
<section class="content content--dark content--penges">
	<div class="wrapper wrapper--narrow">
		<h2 class="content__title">Pengeskapsfabrikken</h2>
		<div class="content__text">
			<p>De elegante fabrikkbygningene langs Halseveien på Carl Berner er i ferd med å få nytt liv, og et nytt kvartal vil oppstå! I Hasleveien 10-12 vil den gamle pengeskapfabrikken fylles med nye forretninger. Utvendig beholdes imidlertid den flotte arkitekturen og den karakteristiske røde teglfasaden.</p>
			<p>Like inntil den gamle fabrikkbygningen vil det oppføres 2 helt moderne leilighetsbygg med 2 og 3-roms leiligheter og historien fra 2 århundre smelter sammen som et symbol på en levende by i konstant utvikling. Boligene bygges i høyden og blir lyse og delikate med store balkonger og uteplasser. Her kan man beskue den urbane livsrytmen og føle storbyens puls.</p>
			<p>Når hele prosjektet ferdigstilles vil beboerne i Pengeskapsfabrikken kunne ta turen ned på bakkeplan for å nyte en kopp kaffe, slå av en prat med naboen og handle sitt daglige brød. Vil man oppsøke andre deler av byen er turen uansett kort, på sykkel, buss, trikk eller bane fra Carl Berner.</p>
		</div>
	</div>
</section>



<section class="tricky">
	<div class="wrapper wrapper--normal">
		<h2 class="tricky__title">Pengeskapsfabrikken</h2>
		<div class="tricky__left">
			
			<div class="tricky__elem">
				<h3 class="tricky__elem__title">Nydalen</h3>
				<ul class="tricky__elem__list">
					<li>Storo</li>
					<li>BI</li>
				</ul>
				<p class="tricky__elem__min">ca. 10 min</p>
			</div>

			<div class="tricky__elem">
				<h3 class="tricky__elem__title">Ullevål</h3>
				<ul class="tricky__elem__list">
					<li>Blinderen</li>
					<li>Universitetet</li>
				</ul>
				<p class="tricky__elem__min">ca. 15 min</p>
			</div>

			<div class="tricky__elem">
				<h3 class="tricky__elem__title">Bislett</h3>
				<ul class="tricky__elem__list">
					<li>Homansbyen</li>
					<li>Majorstuen</li>
					<li>Høyskolen i Oslo</li>
				</ul>
				<p class="tricky__elem__min">ca. 10 min</p>
			</div>

		</div>

		<div class="tricky__right">

			<div class="tricky__elem">
				<h3 class="tricky__elem__title">Hasle</h3>
				<ul class="tricky__elem__list">
					<li>Løren</li>
				</ul>
				<p class="tricky__elem__min">ca. 2 min</p>
			</div>

			<div class="tricky__elem">
				<h3 class="tricky__elem__title">Tøyen</h3>
				<ul class="tricky__elem__list">
					<li>Tøyenbadet</li>
					<li>Botanisk Hage</li>
				</ul>
				<p class="tricky__elem__min">ca. 2 min</p>
			</div>

			<div class="tricky__elem">
				<h3 class="tricky__elem__title">Sentrum</h3>
				<ul class="tricky__elem__list">
					<li>Oslo S</li>
					<li>Grünerløkka</li>
					<li>Arkitekthøyskolen i Oslo</li>
					<li>Westerdals Høyskole</li>
					<li>Treider Fagskole</li>
					<li>Campus Christiania</li>
				</ul>
				<p class="tricky__elem__min">ca. 5 min</p>
			</div>

		</div>

	</div>	
</section>


<section class="persons">
	<div class="wrapper wrapper--fullwidth">
		<div class="persons__streetview">
			<img src="img/streetview.jpg" alt="">
		</div>
		<div class="persons__members">
			<div class="member">
				<span class="member__name">Christian Fr. Foss</span>
				<span class="member__title">Prosjektmegler</span>
				<span class="member__tel">T: <a href="tel:90 17 35 34">90 17 35 34</a></span>
				<span class="member__email">E: <a href="mailto:cff@eiendomsmegler1.no">cff@eiendomsmegler1.no</a></span>
			</div>
			<div class="member">
				<span class="member__name">Olav Aune</span>
				<span class="member__title">Eiendomsmegler</span>
				<span class="member__tel">T: <a href="tel:41 65 02 70">41 65 02 70</a></span>   
				<span class="member__email">E: <a href="mailto:oa@eiendomsmegler1.no">oa@eiendomsmegler1.no</a></span>
			</div>
			<div class="member">
				<span class="member__name">Svein Gundersen</span>
				<span class="member__title">Eiendomsmegler</span>
				<span class="member__tel">T: <a href="tel:48 09 96 80">48 09 96 80</a></span>
				<span class="member__email">E: <a href="mailto:sg@eiendomsmegler1.no">sg@eiendomsmegler1.no</a></span>
			</div>
		</div>
	</div>
</section>
