@font-face {
  font-family: 'MinionPro-Bold';
  src: url('MinionPro-Bold.eot');
  src: url('MinionPro-Bold.eot?#iefix') format('embedded-opentype'),
       url('MinionPro-Bold.woff2') format('woff2'),
       url('MinionPro-Bold.woff') format('woff'),
       url('MinionPro-Bold.ttf') format('truetype'),
       url('MinionPro-Bold.svg#MinionPro-Bold') format('svg');
  font-weight: normal;
  font-style: normal;
}

