<footer class="pagefooter">
	<div class="pagefooter__brands">
		<div class="wrapper wrapper--normal">
		<hr>
			<a href="#" class="fbrand">
				<img src="img/eind.png" alt="EiendomsMegler">
			</a>
			<a href="#" class="fbrand fbrand--pf">
				<img src="img/logo.jpg" alt="PengeskapsFabrikken">
			</a>
			<a href="#" class="fbrand">
				<img src="img/urblogo.png" alt="urbanium">
			</a>
		</div>
	</div>

	<div class="pagefooter__bottom">
		<div class="wrapper wrapper--normal">
			<a href="#navrow" class="pagefooter__tothetop">Tilbake til toppen</a>
		</div>
	</div>

</footer>