<input type="checkbox" id="nav-toggle">
<header class="navbar"  role="banner">
  <div class="wrapper wrapper--wide">
    <a class="navbar__brand" href="index.html">Pengeskapsfabrikken</a>
    <nav class="navbar__nav" role="navigation">
      <ul id="menu-primary-navigation" class="nav navbar__ul">
      	<li class="menu-om-prosjektet"><a href="prosjektet.html">Om Prosjektet</a></li>
				<li class="menu-finn-din-bolig"><a href="finndinbolig.html">Finn Din Bolig</a></li>
				<li class="current menu-bilder"><a href="apartment.html">Leilighet</a></li>
				<li class="menu-kontakt"><a href="kontakt.html">Kontakt</a></li>
			</ul>
		</nav>
		<label class="nav-toggle" for="nav-toggle"><i class="ion ion-navicon"></i>MENU</label>
  </div>
</header>