@font-face {
  font-family: 'SciFly-Sans';
  src: url('../fonts/SciFly-Sans.eot');
  src: url('../fonts/SciFly-Sans.eot?#iefix') format('embedded-opentype'),
       url('../fonts/SciFly-Sans.woff2') format('woff2'),
       url('../fonts/SciFly-Sans.woff') format('woff'),
       url('../fonts/SciFly-Sans.ttf') format('truetype'),
       url('../fonts/SciFly-Sans.svg#SciFly-Sans') format('svg');
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'DINNextLTPro';
  src: url('../fonts/DINNextLTPro-Light.eot');
  src: url('../fonts/DINNextLTPro-Light.eot?#iefix') format('embedded-opentype'),
       url('../fonts/DINNextLTPro-Light.woff2') format('woff2'),
       url('../fonts/DINNextLTPro-Light.woff') format('woff'),
       url('../fonts/DINNextLTPro-Light.ttf') format('truetype'),
       url('../fonts/DINNextLTPro-Light.svg#DINNextLTPro-Light') format('svg');
  font-weight: 300;
  font-style: normal;
}


@font-face {
  font-family: 'DINNextLTPro';
  src: url('../fonts/DINNextLTPro-Black.eot');
  src: url('../fonts/DINNextLTPro-Black.eot?#iefix') format('embedded-opentype'),
       url('../fonts/DINNextLTPro-Black.woff2') format('woff2'),
       url('../fonts/DINNextLTPro-Black.woff') format('woff'),
       url('../fonts/DINNextLTPro-Black.ttf') format('truetype'),
       url('../fonts/DINNextLTPro-Black.svg#DINNextLTPro-Black') format('svg');
  font-weight: 900;
  font-style: normal;
}



